<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Hello Spring Boot</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
</head>
<body>
	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 class="panel-title">Previsão</h1>
		</div>

		<div class="panel-body">
			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>Dia Semana</th>
						<th>Temperatura Min</th>
						<th>Temperatura Max</th>
						<th>Humidade Relativa</th>
						<th>Descrição</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="PrevisaoTempo : ${previsaoTempo}">
						<td th:text="${PrevisaoTempo.id}"></td>
						<td th:text="${PrevisaoTempo.diaSemana}"></td>
						<td th:text="${PrevisaoTempo.temperaturaMin}"></td>
						<td th:text="${PrevisaoTempo.temperaturaMax}"></td>
						<td th:text="${PrevisaoTempo.HumidadeRelativa}"></td>
						<td th:text="${PrevisaoTempo.descricao}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>